<div class="container" style="color: black;">
  <div class="card-body text-center ">
    <h5 class="card-title">Sorry, this book is out of stock!</h5>
    <a href="/" class="btn btn-dark">you can buy another book!</a>
  </div>
</div>
