.btn-3d {
  position: relative;
  display: inline-block;
  font-size: 22px;
  padding: 20px 60px;
  color: white;
  margin: 20px 10px 10px;
  border-radius: 6px;
  text-align: center;
  transition: top .01s linear;
  text-shadow: 0 1px 0 rgba(0,0,0,0.15);
  width: 40%;
}

.btn-3d.blue:hover   {background-color: #372e53;}

.btn-3d:active {
  top: 9px;
}

.btn-3d.blue {
  background-color: #4B3F72;
  box-shadow: 0 0 0 1px #372e53 inset,
        0 0 0 2px rgba(255,255,255,0.15) inset,
        0 8px 0 0 #4B3F72,
        0 8px 0 1px rgba(0,0,0,.4),
        0 8px 8px 1px rgba(0,0,0,0.5);
}
.btn-3d.blue:active {
  box-shadow: 0 0 0 1px #372e53 inset,
        0 0 0 2px rgba(255,255,255,0.15) inset,
        0 0 0 1px rgba(0,0,0,0.4);
}

a {
  text-decoration: none;
}
